{% load static %}

<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Risposta</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    </head>
    <body>

        <div class="navbar">
            <a class="button_link" href="{% url 'home_amministratore' %}">
                <button class="pulsante" >Home</button>
            </a>
        </div>

    {% if is_accepted %}
        <h1>Richiesta di adozione accettata!</h1>
    {% else %}
        <h1>Richiesta di adozione rifiutata!</h1>
    {% endif %}

        
    </body>
    
</html>