{% load static %}

<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Home Page</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    </head>
    <body>

        <div class="navbar">
            
            <a class="button_link" href="{% url 'lista_animaliAmministratore' %}">
                <button class="pulsante" >Lista Animali</button>
            </a>
            <a class="button_link" href="{% url 'logout' %}">
                <button class="pulsante" >Logout</button>
            </a>

        </div>

        <form id= "form_ricerca" method="get">
            {{myFilter.form}}

            <button class="btn btn-primary" type="submit"> Cerca </button>
        </form>

        <table> 
            <thead>
                <th>Nome e cognome</th>
                <th>Indirizzo</th>
                <th>Lavoro</th>
                <th>Specie Animale</th>
                <th>Razza Animale</th>
                <th>Età</th>
                <th>Azione</th>
            </thead>

            <tbody> 

                <tr>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                
                {% for richiesta in richieste %}
                <tr>
                    <td>{{ richiesta.nomeCognome }}</td>
                    <td>{{ richiesta.indirizzo }}</td>
                    <td>Lavoro</td>
                    <td> {{richiesta.animale.specie}}</td>
                    <td> {{richiesta.animale.razza}}</td>
                    <td> {{richiesta.animale.età}}</td>
                    <td>
                        <a href="{% url 'accetta_rifiuta_view' richiesta.ID_richiestaAdozione 'true' %}" class="pulsante pulsante_tabella">Accetta</a>
                        <a href="{% url 'accetta_rifiuta_view' richiesta.ID_richiestaAdozione 'false' %}" class="pulsante pulsante_tabella">Rifiuta</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>