{% load static %}

<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Home Page</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    </head>
    <body>

        <div>
            <div class="dropdown">
                <button class="pulsante dropbtn">Filtri</button>
                <div class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
            </div>
            
            <button class="pulsante">Logout</button>
        </div>

        <table> 
            <thead>
                <th>Specie</th>
                <th>Razza</th>
                <th>Età</th>
                <th>Descrizione</th>
                <th>Azione</th>
            </thead>

            <tbody> 
                {% for animal in animali %}
                <tr>
                    <td>{{ animal.specie }}</td>
                    <td>{{ animal.razza }}</td>
                    <td>{{ animal.età }}</td>
                    <td>{{ animal.descrizione }}</td>
                    <td><a href="http://127.0.0.1:8000/adotta/" class="pulsante pulsante_tabella">adotta</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>