<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Home Page</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
    </head>
    <body>

        <table> 
            <thead>
                <th>Specie</th>
                <th>Razza</th>
                <th>Età</th>
                <th>Descrizione</th>
                <th>Azione</th>
            </thead>

            <tbody> 
                {% for animal in animals %}
                <tr>
                    <td>{{ animal.specie }}</td>
                    <td>{{ animal.razza }}</td>
                    <td>{{ animal.eta }}</td>
                    <td>{{ animal.descrizione }}</td>
                    <td><a href="https://www.google.it/" class="btn btn-primary">adotta</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>